<div class="page-header">
  <h3>Owned Thing #<%= @owned_thing.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @owned_thing.user.present? %>
          <a href="/owners/<%= @owned_thing.user_id %>">
            <%= @owned_thing.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= @owned_thing.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/owned_things" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @owned_thing.user %>
        <a href="/owned_things/<%= @owned_thing.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_owned_thing/<%= @owned_thing.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
